<div id="signup">
    <h2>Sign-up for free!</h2>
    <form action="/auth/signup" method= "POST">
    <label> Username
        <input type="text" name="username">
    </label>
    <label> Password
        <input type="password", name="pass">
    </label>
    <button type="submit">Create account</button>
    </form>
</div>